* {
	font-family: Verdana;
	font-weight: lighter;
	box-sizing: border-box;
}


@media screen and (min-width: 992px){
container {
		background: url("https://res.cloudinary.com/alb/image/upload/v1459289541/sh83sys9_fwvoym.bmp")  no-repeat;
		background-size: 100% 100%;;
	}	
	#yellowbox {
		background-color: yellow;
		background: url("https://res.cloudinary.com/alb/image/upload/v1459040868/Pete_not_feeling_good_2_jcpfc6.jpg") center no-repeat; 
		background-size: auto 100%;
		height: 200px;
	}
	#redbox {
		background-color: red;
		background: url("https://res.cloudinary.com/alb/image/upload/v1459289575/6vbdxpgd_synm8o.bmp") bottom  no-repeat;
		background-size: 100% auto;
		height: 75px;
	}
	#bluebox {
		background-color: blue;
		background: url("https://res.cloudinary.com/alb/image/upload/v1459289499/s94u4kfo_z0wd54.bmp") center  no-repeat;
		background-size: auto 100%;
		height: 125px;
	}

	#orangebox {
		background-color: brown;
		background: url("https://res.cloudinary.com/alb/image/upload/v1459040809/20151123_2488_hrdmyx.png") center no-repeat;
		background-size: auto 100%;
		height: 125px;
	}

	#brownbox {
		background-color: Brown;
		background: url("https://res.cloudinary.com/alb/image/upload/v1459289392/l16mk5av_t5yhd6.bmp") center  no-repeat;
		background-size: 100% auto;
		height: 75px;
	}

	#cadetbluebox {
		background-color: CadetBlue;
		background: url("https://res.cloudinary.com/alb/image/upload/v1459040789/20151101_2016_tcddhq.jpg") center  no-repeat;
		background-size: auto 100%;
		height: 225px;
	}

	#chocolatebox {
		background-color: white;
		background: url("https://res.cloudinary.com/alb/image/upload/v1459040983/20150728_2287_zbltwb.jpg") center  no-repeat;
		background-size: auto 100%;
		height: 150px;
	}

	#darkcyanbox {
		background-color: DarkCyan;
		background: url("https://res.cloudinary.com/alb/image/upload/v1459289634/b50qrbc8_oypuus.bmp")  no-repeat;
		background-size: 100% auto;
		height: 150px;
	}
} 

header {
	background-color: transparent;
	/* background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.3) 0%, rgba(125, 185, 232, 0) 100%); */
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
	width: 100%;	
}

/* footer {
	background-color: white; 
	background-image: linear-gradient(to top, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
	width: 100%;
	margin-top: 415px ;
} */

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.reversetext {
	color: white;
}

/* #redbox>p {
	color: blue;
	} */

	#bluebox>p {
		color: yellow;
	}

	.nopaddingbox {
		padding: 0;
	}

	.marginbox {
		/*margin: 2px 2px 2px 2px;  This doesn't work and breaks the flow */
		border: 2px solid white; 

	}

/* 
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11 {
} 
*/

	#container {
		padding-bottom: 20px;
		background-color: black;
		/* background: url("https://res.cloudinary.com/alb/image/upload/v1459289541/sh83sys9_fwvoym.bmp")  no-repeat; */
		/* background-size: 100% 100%; */
		margin: auto;
		width: 50%;
	}

	#yellowbox {
		background-color: #333;
		/* background: url("https://res.cloudinary.com/alb/image/upload/v1459040868/Pete_not_feeling_good_2_jcpfc6.jpg")  no-repeat; */ 
		/* background-size: auto 100%  */;
		height: 200px;
	}

	#redbox {
		background-color: Red;
		/* background: url("https://res.cloudinary.com/alb/image/upload/v1459289575/6vbdxpgd_synm8o.bmp") bottom  no-repeat; */
		/* background-size: 100% auto; */
		height: 75px;
	}

	#bluebox {
		background-color: Black;
		/* background: url("https://res.cloudinary.com/alb/image/upload/v1459289499/s94u4kfo_z0wd54.bmp") center  no-repeat; */
		/* background-size: auto 100%; */
		height: 125px;
	}

	#orangebox {
		background-color: Black;
		/* background: url("https://res.cloudinary.com/alb/image/upload/v1459040809/20151123_2488_hrdmyx.png") no-repeat; */
		/* background-size: 100% auto; */
		height: 125px;
	}

	#brownbox {
		background-color: Brown;
		/* background: url("https://res.cloudinary.com/alb/image/upload/v1459289392/l16mk5av_t5yhd6.bmp") center  no-repeat; */
		/* background-size: 100% auto; */
		height: 75px;
	}

	#cadetbluebox {
		background-color: CadetBlue;
		/* background: url("https://res.cloudinary.com/alb/image/upload/v1459040789/20151101_2016_tcddhq.jpg") center  no-repeat; */
		/* background-size: auto 100%; */
		height: 225px;
	}

	#chocolatebox {
		background-color: white;
		/* background: url("https://res.cloudinary.com/alb/image/upload/v1459040983/20150728_2287_zbltwb.jpg") center  no-repeat; */
		/* background-size: 100% auto; */
		height: 150px;
	}

	#darkcyanbox {
		background-color: black;
		/* background: url("https://res.cloudinary.com/alb/image/upload/v1459289634/b50qrbc8_oypuus.bmp")  no-repeat; */
		/* background-size: 100% auto; */
		height: 150px;
	}
