* {
    font-family: Verdana;
    font-weight: lighter;
    box-sizing: border-box;
}

nav {
    background-color: #DDD;
    margin: 0px 0 0px 0;
}

ul {    
    list-style-type: none;
}

li {
    display: inline;
    margin: 0 15px;
}

header {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #EEE;
}

aside {
    border: 5px solid blue;
    padding: 5px 5px 5px 5px;
    margin: 0;
    float: left;
    width: 30%;
}

section {
    width: 70%;
    margin: 0 auto;
    color: blue;
    background-color: yellow;
    float: left;
}

.odd {
    color: blue;
    font-style: italic;
    background-color: #FDF;
}

.even {
    color: red;
    font-size: 1.5em;
    background-color: #DFD;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#container {
    max-width: 90%;
    margin: auto; 

}
